:root {
    --red: #da291c;
    --yellow: #ffd700;
    --blue: #006db7;
    --green: #00af4d;
    --black: #000000;  
    --white: #ffffff;

    --rootsize: 20px;
    --maxwidth: 1200px;
}


body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: rubik, sans-serif;
    background-color: var(--yellow);
    background-image: url(website_images/mainbackground.png);
}

p {
    font-size: 1rem;
}

h1 {
    margin: 0;
    padding: 0;
    max-width: 250px;


    a {
        display: inline-block;
        width: 100%;
        overflow: hidden;


        img {
            width: 100%;
            height: auto;
        } 
    }
}

h2 {
    font-size: 2.5rem;
    font-family: 900;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

#container {
    max-width: var(--maxwidth);
    background-color: var(--white);
    width: 100;
    margin: 0 auto;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cart-button {
    width: 100px;
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;


div {
    background: var(--red);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -15px;
    left: -12px;
 }
}

nav {
    background-color: var(--red);
    color: var(--white);

    a {
        display: inline-block;
        padding: 1rem;
        text-transform: uppercase;
        color: var(--white);
        text-decoration: none;
        border-bottom: spx solid var(--red);
        

        &:hover {
            background-color: var(--yellow);
            color: var(--black);
            box-shadow: inset 0 -spx 0 0 var(--black);
        }
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;

    h2 {
        width: 100%;
        text-align: center;
        text-transform: uppercase;

    }
    .product-card {
        max-width: 33%;
        background: var(--black);
        color: var(--white);
        padding: 1rem;
        box-sizing: border-box;
        border-bottom: 1rem solid var(--green);
        margin-bottom: 1rem;

        a {
            color: var(--yellow);
            text-decoration: none;
        }

        h3 {
            margin: 0;
            text-transform: uppercase;
        }

        button {
            background: var(--red);
            color: var(--white);
            font-family: "rubik", sans-serif;
            font-size: 1rem;
            text-transform: uppercase;
        }

        img {
            width: 100%;
        }
    }
}